<%= form_for @quote, url: {action: "create"} do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
        <% quote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :aquisition_date %>
    <%= form.date_field :aquisition_date %>
  </div>

  <div class="field">
    <%= form.label :aquisition_value %>
    <%= form.text_field :aquisition_value %>
  </div>

  <div class="field">
    <%= form.label :stock_id %><br>
    <%= form.collection_select(:stock_id, Stock.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
