<p id="notice"><%= notice %></p>

<h1>Passivos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facades.each do |facade| %>
      <tr>
        <td><%= facade.name %></td>
        <td><%= link_to 'Show', facade %></td>
        <td><%= link_to 'Edit', edit_facade_path(facade) %></td>
        <td><%= link_to 'Destroy', facade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar novo Passivo', new_facade_path %>
