<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @facade.name %>
</p>

<div id='cotas'>
<td><%= link_to 'Cadastrar cota', new_facade_value_path(@facade) %></td>
<td><%= link_to 'Remover cota', edit_facade_path(@facade) %></td>
</div>
<div id='investimentos'>
<%= link_to 'Editar', edit_facade_path(@facade) %> 
<td><%= link_to 'Apagar', @facade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>
<%= link_to 'Voltar', facades_path %>
