<%= form_for @value, url: {action: "create"} do |form| %>
  <% if value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(value.errors.count, "error") %> prohibited this value from being saved:</h2>

      <ul>
        <% value.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :stock_id %><br>
    <%= form.collection_select(:stock_id, Stock.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
