<p id="notice"><%= notice %></p>

<h1>Values for <%= Facade.find(params[:facade_id]).name %></h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Value</th>
      <th>Facade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @values.each do |value| %>
      <tr>
        <td><%= value.date %></td>
        <td><%= value.value %></td>
        <td><%= value.facade.name %></td>
        <td><%= link_to 'Detalhes', facade_value_path(id: value.id) %></td>
        <td><%= link_to 'Alterar', edit_facade_value_path(id: value.id) %></td>
        <td><%= link_to 'Destroy', facade_value_path(id: value.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Value for stock', new_facade_value_path %>
<%= link_to 'Nova cota', new_facade_stock_path %>
<td><%= link_to 'Apagar Passivo', facade_path(id: params[:facade_id]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
