<p id="notice"><%= notice %></p>

<div class="title">
  Values
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Stock</th>
      <th>Date</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @values.each do |value| %>
      <tr>
        <td><%= value.stock.name %></td>
        <td><%= value.date.strftime('%d %B - %Y') %></td>
        <td><%= value.value %></td>
        <td><%= link_to 'Edit', edit_stock_value_path(id: value.id, stock_id: value.stock.id), :class => "btn btn-warning" %>
        <%= link_to 'Delete', stock_value_path(id: value.id, id: value.id, stock_id: value.stock.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= link_to 'Register new quote value', new_value_path, :class => "btn btn-success" %>
