<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @value.date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @value.value %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @value.stock.name.upcase %>
</p>

<%= link_to 'Edit', edit_stock_value_path(id: @value.id), :class => "btn btn-warning" %> |
<%= link_to 'Back', stock_values_path, :class => "btn btn-primary" %>
