<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @value.date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @value.value %>
</p>

<p>
  <strong>Facade:</strong>
  <%= @value.facade.name.upcase %>
</p>

<%= link_to 'Alterar', edit_facade_value_path(id: @value.id) %> |
<%= link_to 'Voltar', facade_values_path %>
