<%= form_for @dividend, url: {action: "create"} do |form| %>
  <% if dividend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dividend.errors.count, "error") %> prohibited this dividend from being saved:</h2>

      <ul>
        <% dividend.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <%= hidden_field_tag 'dividend[facade_id]', params[:facade_id] %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
