<%= form_for @stock, url: {action: "create"} do |form| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
        <% stock.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :aquisition_date %>
    <%= form.date_field :aquisition_date %>
  </div>

  <div class="field">
    <%= form.label :aquisition_value %>
    <%= form.text_field :aquisition_value %>
  </div>

  <%= hidden_field_tag 'stock[facade_id]', params[:facade_id] %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
