<p id="notice"><%= notice %></p>

<p>
  <h1><strong>Details about <%= @stock.name %>:</strong></h1>

<h3>total amount of shares bought:</h3>
<%= @stock.quotes.size %>

<h3>Total amount invested:</h3>
<%= number_to_currency(@stock.quotes.sum(:aquisition_value), unit: 'R$', separator: ',', delimiter: '') %>

<h3> Average paid price:</h3>
<%= number_to_currency(@stock.quotes.average_price, unit: 'R$', separator: ',', delimiter: '') %>

<h3>Current value per share:</h3>
<%= number_to_currency(@stock.values.last.value, unit: 'R$', separator: ',', delimiter: '') %>

<h3>Current total value:</h3>
<%= number_to_currency(@stock.values.sum(:value), unit: 'R$', separator: ',', delimiter: '') %>

<h3>Total dividends received:</h3>
<%= number_to_currency(@stock.dividends.sum(:value), unit: 'R$', separator: ',', delimiter: '') %>

</p>
<h3> Value in the last 12 months:</h3>
<%= line_chart @stock.values.monthly_value %>


<h3> Dividends:</h3>
<%= line_chart @stock.dividends.monthly_dividend %>

<h3><strong>Value and Average price:</strong></h3>
<%= line_chart [
{name: "Value", data: @stock.values.monthly_value},
{name: "Average Price", data: @stock.quotes.monthly_average_price},
] %>

