<p id="notice"><%= notice %></p>

<div class="card-holder">
  <div class="card">

    <p>
      <strong>Account:</strong>
      <%= @balance.balanceable.name %>
    </p>

    <p>
      <strong>Balance:</strong>
        <%= @balance.balance %>

    </p>

    <p>
      <strong>Date:</strong>
      <%= @balance.date.strftime('%d %B - %Y') %>

    </p>

    <%= link_to 'Edit', edit_account_balance_path(id: @balance.id, account_id: @balance.balanceable.id), :class => "btn btn-warning" %>
    <%= link_to 'Back', balances_path, :class => "btn btn-primary" %>

  </div>
</div>
