<p id="notice"><%= notice %></p>

<p class=" title">
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total value</th>
      <th>Quotes</th>
      <th colspan="2">Actions</th>
    </tr>
  <tbody>
    <% @account.stocks.each do |stock| %>
      <tr>
        <td><%= link_to stock.name, stock_path(id: stock.id) %></td>
        <td><%= stock.updated_balance %></td>
        <td><%= stock.quotes.size %></td>
        <td> <%= link_to 'Edit', edit_stock_path(id: stock.id), :class => "btn btn-warning" %>
        <%= link_to 'Delete', stock_path(id: stock.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
    <tbody>
</table>
<%= link_to 'Edit', edit_account_path(@account), :class => "btn btn-warning" %>
<%= link_to 'Back', accounts_path, :class => "btn btn-primary" %>
