<p id="notice"><%= notice %></p>

<div class="summary">
  <div class="summary-title">
    <h1><strong>Summary for <%= @account.name %>:</strong>: </h1>
</div>

<div class="account-item">
  total amount of stocks:
  <%= @account.stocks.size %>
</div>

<div class="summary-item">
  Current total value:
  <%= number_to_currency(@account.generate_balance.balance, unit: 'R$', separator: ',', delimiter: '') %>
</div>

<div class="summary-item">
  Stocks:
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quotes</th>
        <th>Total Invested</th>
        <th>Current value</th>
      </tr>
    </thead>
    <tbody>
      <% @account.stocks.each do |stock| %>
        <tr>
          <td><%= stock.name %></td>
          <td><%= stock.quotes.count %></td>
          <td><%= stock.total_invested %></td>
          <td><%= stock.updated_balance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class="summary-charts">
<h3> Balance in the last 12 months:</h3>
<%= line_chart @account.balances.monthly_balance %>
</div>