<div class="summary">
  <div class="summary-subtitle">
    Summary for <%= @account.name %> account:
</div>

<div class="summary-item">
  Total amount of stocks:<br />
  <div class="item-value">
  <%= @account.stocks.size %>
  </div>
</div>

<div class="summary-item">
  Current total value:<br />
  <div class="item-value">
  <%= number_to_currency(@account.generate_balance.balance, unit: 'R$', separator: ',', delimiter: '') %>
</div>
</div>

<div class="chart-title">
  Stocks:
  </div>
<div class="summary-item">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quotes</th>
        <th>Total Invested</th>
        <th>Current value</th>
      </tr>
    </thead>
    <tbody>
      <% @account.stocks.each do |stock| %>
        <tr>
          <td><%= stock.name %></td>
          <td><%= stock.quotes.count %></td>
          <td><%= stock.total_invested %></td>
          <td><%= stock.updated_balance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class="chart-title">
Balance in the last 12 months:<br />
</div>
<div class="summary-chart">
<%= line_chart @account.balances.monthly_balance %>
</div>